body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

h2 {
  text-align: center;
}

.form, .hasil {
  background: white;
  padding: 15px;
  max-width: 420px;
  margin: 15px auto;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 6px;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 8px;
  background: #2563eb;
  color: white;
  border: none;
}
